---
import "@styles/global.css";
import DocumentHead from "../components/DocumentHead.astro";
const description = "hx-swap example";
---

<html lang="en">
    <DocumentHead
        title={description}
        description={description}
        permalink="http://localhost:4321/hx-swap"
    />
    <body>
        <main class="breakout flow">
            <h1>a wonderful {description}</h1>
            <button
                hx-get="/api/greeting"
                hx-swap="outerHTML"
                hx-trigger="click"
            >
                Replace Me (outerHTML)
            </button>

            <button
                hx-get="/api/greeting"
                hx-swap="innerHTML"
                hx-trigger="click"
            >
                Replace Contents (innerHTML)
            </button>

            <div id="target-div" class="grad-wrapper">
                <div
                    style="background-color: var(--base_00); color: var(--base_07"
                >
                    Target content will appear nearby...
                </div>
            </div>

            <button
                hx-get="/api/greeting"
                hx-swap="beforeend"
                hx-target="#target-div"
                hx-trigger="click"
            >
                Append Content
            </button>

            <button
                hx-get="/api/greeting"
                hx-swap="afterbegin"
                hx-target="#target-div"
                hx-trigger="click"
            >
                Prepend Content
            </button>
        </main>
    </body>
</html>
