---
import "@styles/global.css";
import DocumentHead from "../components/DocumentHead.astro";
const description = "hx-trigger example";
---

<html lang="en">
    <DocumentHead
        title={description}
        description={description}
        permalink="http://localhost:4321/hx-trigger"
    />
    <body>
        <main class="breakout flow">
            <h1>a wonderful {description}</h1>

            <button
                hx-get="/api/greeting"
                hx-target="#greeting-message"
                hx-trigger="click"
                class="primary"
            >
                Say Hello
            </button>

            <button
                hx-get="/api/greeting?type=special"
                hx-swap="innerHTML"
                hx-trigger="mouseover"
            >
                Hover for special greeting
            </button>

            <div id="greeting-message" class="grad-wrapper flex">
                Your greeting will appear here...
            </div>

            <div
                hx-get="/api/time"
                hx-target="#current-time"
                hx-trigger="every 1s"
            >
                Current time: <span id="current-time">Loading...</span>
            </div>

            <button
                hx-get="/api/greeting?type=special"
                hx-swap="innerHTML"
                hx-trigger="mouseover once"
            >
                Hover for exactly one Greeting
            </button>

            <button
                hx-get="/api/greeting?type=special"
                hx-swap="innerHTML"
                hx-trigger="mouseover delay:1s"
            >
                Hover for Debounced greeting
            </button>
        </main>
    </body>
</html>
