---
export const partial = true;

const greetings = [
    "Ahoy-hoy!",
    "Hello",
    "Hi",
    "Hey there",
    "Greetings",
    "Welcome",
    "Howdy",
    "Salutations",
    "Good day",
    "Sup",
    "Yo",
    "Hola",
    "Bonjour",
    "Ciao",
    "G'day",
    "What's up",
];

const greeting = greetings[Math.floor(Math.random() * greetings.length)];
---

<div>{greeting}</div>
